@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* General  */
  --font-family: "Outfit", sans-serif;
  /* --heading-color: #0000; */
  --paragraph: "Roboto", sans-serif;
  --body-background: #eae9e9;
  --text-sizing: 16px;

  /* MOBILE  */
  --hero-heading-desktop-size: 87px;
  --hero-heading-mobile-size: 64px;
  --other-heading-mobile: 24px;
  --hero-text-size-mobile: 18px;

  /* DESKTOP */
}

body {
  font-family: var(--font-family);
  background: var(--body-background);
  font-size: var(--text-sizing);
}

/* DESKTOP STYLYING  */

/* .main__content {
  width: 1440px;
  max-width: 1065px;
  margin: 0 auto;
  padding: 0px 40px 40px 0px;
} */

nav {
  box-shadow: 0px 0px 4px 4px rgba(209, 207, 207, 0.2);
}

nav {
  font-size: 25px;
}

nav > ul {
  font-size: 18px;
}

.project.complete {
  border-left: 4px solid #3cd1c2;
}
.chip.complete {
  background: #40c4b7;
}
.project.ongoing {
  border-left: 4px solid orange;
}
.chip.ongoing {
  background: orange;
}
.project.overdue {
  border-left: 4px solid tomato;
}
.chip.overdue {
  background: orangered;
}

